/* .bicycle_all img{
    width: 300px;
    align-items: center;
    text-align: center;
} */

/* carrito fallido */

/* .carrito-all{
    margin: 10px 10px 10px 10px;
    position: relative;
    margin: 0;
    padding: 0;
    float: right;
}

.carrito{
    width: 80px;
    height: 80px;
    background: #225fc3;
    border: 1px solid black;
    border-radius: 50%;
}

.color-carrito{
    color: white;
    text-align: center;
    align-items: center;
}

.button-carrito{
    align-items: center;
} */

/* .button-carrito a svg{
    
} */