/* barra lateral */


/* BICICLETAS */

.cars-shoope{
    margin-top: 8%;
    animation: alternate-reverse;
}

.cars-shoope .cars__banner{
    justify-content: center;
}

.cars-shoope .cars__banner{
    display: grid;
    grid-template-columns: 90px 90px 90px;
    grid-column-gap: 300px;
    grid-row-gap: 10px;
}

section{
    border: 1px solid black;
    border-radius: 30px 30px 30px 30px;
    width: 325px;
}

section:hover{
    transform: rotate(-2deg);
    box-shadow: 0 9px 30px black ;
    transition: .1s;
}

.card-a {
    margin: 10px;
    margin-top: 10vh;
    height: 400px;
}

.card-a a{
    color: #000;
}

.card-a .imgcont img{
    width: 300px;
    margin: .3vh;
}

.card-a .imgcont img:hover{
    transition: .1s;
    transform: rotate(-5deg);
}

.card-a p{
    text-align: center;
    margin-top: 6vh;
    font-family: 'Times New Roman', Times, serif;
}
.card-a strong{
    margin-top: -6.9vh;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    float: left;
    font-size: 15px;
    margin-left: .2px;
}
.card-a button{
    padding: 12px;
    border: none;
    color: #000;
    background: #88a4ff;
    border: 1px solid black;
    margin-top: 10px;
    border-radius: 10px 10px 10px 10px;
}
.card-a button:hover{
    background: rgb(71, 58, 193);
    color:#fff;
}
/* b */ 

.card-b {
    margin: 10px;
    margin-top: 10vh;
    height: 400px;
    float: right;
}

.card-b a{
    color: #000;
}

.card-b .imgcont img{
    width: 300px;
    margin: .3vh;
    margin-top: 6vh;
}

.card-b .imgcont img:hover{
    transition: .1s;
    transform: rotate(-5deg);
}

.card-b p{
    text-align: center;
    margin-top: 14vh;
    font-family: 'Times New Roman', Times, serif;
}
.card-b strong{
    margin-top: -6.9vh;
    float: left;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 15px;
    margin-left: .2px;
}

.card-b button{
    padding: 12px;
    border: none;
    color: #000;
    background: #88a4ff;
    border: 1px solid black;
    margin-top: 10px;
    border-radius: 10px 10px 10px 10px;
}
.card-b button:hover{
    background: rgb(71, 58, 193);
    color:#fff;
}
/* c */
.card-c {
    margin: 10px;
    margin-top: 10vh;
    height: 400px;
}

.card-c a{
    color: #000;
}

.card-c .imgcont img{
    width: 300px;
    margin: .3vh;
    margin-top: 6vh;
}

.card-c .imgcont img:hover{
    transition: .1s;
    transform: rotate(-5deg);
}

.card-c p{
    text-align: center;
    margin-top: 14vh;
    font-family: 'Times New Roman', Times, serif;
}
.card-c strong{
    margin-top: -6.9vh;
    float: left;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 15px;
    margin-left: .2px;
}

.card-c button{
    padding: 12px;
    border: none;
    color: #000;
    background: #88a4ff;
    border: 1px solid black;
    margin-top: 10px;
    border-radius: 10px 10px 10px 10px;
}
.card-c button:hover{
    background: rgb(71, 58, 193);
    color:#fff;
}
/* d */
#card-d{
    margin-top: 3vh;
}
.card-d {
    margin: 10px;
    margin-top: 10vh;
    height: 400px;
}

.card-d a{
    color: #000;
}

.card-d .imgcont img{
    width: 300px;
    margin: .3vh;
    margin-top: 2vh;
}

.card-d .imgcont img:hover{
    transition: .1s;
    transform: rotate(-5deg);
}

.card-d p{
    text-align: center;
    margin-top: 14vh;
    font-family: 'Times New Roman', Times, serif;
}
.card-d strong{
    margin-top: -6.9vh;
    float: left;
    border: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 15px;
    margin-left: .2px;
}

.card-d button{
    padding: 12px;
    border: none;
    color: #000;
    background: #88a4ff;
    border: 1px solid black;
    margin-top: 10px;
    border-radius: 10px 10px 10px 10px;
}
.card-d button:hover{
    background: rgb(71, 58, 193);
    color:#fff;
}


/*Fin de pag*/


.pie__pag{
    color: white;
    font-size: 1.4vh;
    background: gray;
    text-align: center;
    padding: 10px 9px;
    margin-top: 33px;
    border-top: 1px solid black;
}
