* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #bababa;
    color: black;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

hr{
    margin: 10px;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
}

/* Navegacion */

.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 50px 0;
}

.nav-brand {
    width: 70px;
}

/* Nav left */

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 10px;
}

.nav-main ul li a {
    padding: 9px;
}

.nav-main ul li a:hover {
    border-bottom: 3px solid black ;
}

.nav-main ul .nav-menu {
    flex: 1;
    margin-left: 20px;
}
/* Misión */

.mision {
    border: 2px solid black;
    border-radius: 20px 20px 20px 20px;
    padding: 70px;
    width: 1320px;
    text-align: center;
    margin-top: -15px;
}

.mision h1 {
    padding: 1rem;
    padding-left: 30px;
}

.mision p {
    padding-left: 30px;
}

.mision img {
    float: left;
}

/* Visión*/

.vision{
    border: 2px solid black;
    border-radius: 20px 20px 20px 20px;
    padding: 70px;
    width: 1320px;
    text-align: center;
    margin-top: -15px;
}

.vision h1 {
    padding: 1rem;
    padding-right: 30px;
}
.vision p{
    padding-right: 30px;
}

.vision img {
    float: right;
}

/* Showcase */

.showcase {
    background: url(../img/showcase.jpg) no-repeat center center/cover;
    padding: 75px;
    padding-top: 60px;
    width: 1460px;
    margin-left: 2%;
    margin-right: 2%;
}

.showcase h2 {
    color: white;
    font-size: 40px;
    padding: 1.5rem;
}

.showcase p {
    color: white;
    font-size: 20px;
}

/* Showcase 2 */

.showcase-2 {
    background: url(../img/showcase.jpg) no-repeat center center/cover ;
    padding: 75px;
    padding-top: 60px;
    width: 1460px;
    margin-top: 1.5%;
    margin-left: 2%;
    margin-right: 2%;
}

.showcase-2 h2 {
    color: white;
    font-size: 40px;
    padding: 1rem;
}

.showcase-2 p {
    padding: 0.5rem;
    font-size: 20px;
    color: #fff;
}

.showcase-2 a {
    border: 1px solid black;
    padding: 10px;
    color: #fff;
}

/* btn es la funcion del boton para ver mas proyectos */
.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 40px 60px;
    background: #262626;
    color: #fff;
    font-size: 20px;
    border: 1px solid #fff;
    margin: 16px;
  }
  
  .btn:hover {
    opacity: 0.6;
  }

/* Fin de pag*/

.header h1{
    text-align: center;
    margin-top: 10%;
    color: #fff;
}

.header p{
    text-align: center;
    font-size: small;
    color:#fff;
}
.header img{
    margin-left: 41%;
    margin-right: 45%;
}

.cont__mantenimiento{
    border: 1px solid black;
    text-align: center;
    height: 280px;
    width: 300px;
    margin-top: 9%;
    margin-left: 25%;
}

