* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #bababa;
    color: black;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

hr{
    margin: 20px;
}

input{
    line-height: normal;
}

ul {
    list-style: none;
}

h4{
    font-size: 10px;
    color: #bababa;
    text-align: left;
}

.Terminos-condiciónes{
    margin: 40px;
    color: black;
}

.container {
    width: 90%;
    margin: auto;
}

.container a {
    text-decoration: none;
    color: black;
}

/* Navegacion */

.nav-main {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 50px 0;
}

.nav-brand {
    width: 70px;
}

/* Nav left */

.nav-main ul {
    display: flex;
}

.nav-main ul li {
    padding: 10px;
}

.nav-main ul li a {
    padding: 9px;
}

.nav-main ul li a:hover {
    border-bottom: 3px solid black ;
}

.nav-main ul .nav-menu {
    flex: 1;
    margin-left: 20px;
}

/* Controls mains user */

.container-user {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5)rgba(0,0,0,0.5));
    background-position: center;
    background-size: cover;
    position: relative;
}

.form-box{
    width: 370px;
    height: 455px;
    position: relative;
    margin: 6% auto;
    background: white;
    padding: 5px;
    border-radius: 10px;
}

.button-box{
    width: 240px;
    margin: 30px auto;
    position: relative;
    box-shadow: 0 0 20px 9px;
    border-radius: 30px;
}

