*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
}

/* Contenido perfil */

.contenido__adentro{
    border: 1px solid black;
    height: 400px;
    width: 360px;
    float: right;
    margin-right:30px ;
}

.contenido__perfil img{
    border: 0.5px solid black;
    width: 180px;
    margin-top: 10px;
    margin-left: 90px;
    margin-right: 100px;
    border-radius: 50%;
}

.contenido__perfil h3{
    text-align: center;
    margin: 10px;
}

.redes__sociales a i{
    width: 300px;
}

